.ba-header {
  .ba-desc {
    padding: 56px 120px 68px;
    text-align: center;
    text-transform: uppercase;
    &__f-work {
      font-weight: 600;
      line-height: $lineHeightPrim;
      letter-spacing: 2px;
      &::after {
        content: "\271A";
        position: relative;
        left: 250px;
        bottom: 20px;
        cursor: pointer;
        color: #e98457;
        font-size: 30px;
      }
    }
    &__title {
      font-size: $secondaryFontSize;
      font-weight: 600;
      line-height: $lineHeightSec;
      margin-top: 20px;
      &::before {
        content: url(../images/gulpfile.js.png);
        position: relative;
        cursor: pointer;
        color: #e98457;
        font-size: 30px;
        top: 120px;
        right: 80px;
      }
    }
  }
}
